.header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: url(../assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0 50vh;

  .title-container {
    flex: 0.5;
  }
}